body{
    background-color: #f0f0f0;
    font-family: Gadugi;
}
/*** LOGIN ***/
header{
    height: 80px;
    background-color: #d91d0c;
    border-bottom: 3px solid #fff;
    color: #fff;
    font-family: 'Gafata';
    font-size: 20px;
}
#welcome{
    position: relative;
    top: 25px;
    left: 100px;
}
.form-control{
    max-width: 243px;
}
#login_box{
    width: 285px;
    height: 240px;
    position: relative;
    top: 130px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #FEFEFE;
    border-radius: 5px;
    border: 1px solid #fde1df;
    box-shadow: 2px 2px 3px #fde1df;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#login_box_title{
    margin-bottom: 20px;
}
#login_box_title h3{
    margin-top: 12px;
    color: #5F5F5F;
}
.form-control:focus{
    border-color: #F2A5A0;
    box-shadow: 0px 0px 3px #fde1df;
}
#login form a{
    position: relative;
    top: 3px;
    left: 1px;
    color: #5F5F5F;
    font-size: 13px;
}
#login form a:hover{
    color: #d91d0c;
    text-decoration: none;
}
#login .btn,
#sign-up .btn{
    width: 73px;
    height: 32px;
    padding-top: 4px;
    padding-bottom: 7px;
    margin-top: 20px;
    margin-right: 7px;
    float: right;
}
.ok-btn{
    margin-top: 20px;
    background-color: #d91d0c;
    border: none;
    color: #fff;
}
.ok-btn:hover{
    color: #fff;
}
.no-btn:hover{
    background-color: #F2F2F2;
}

/*** SIGN UP ***/
#sign-up #login_box{
    width: 405px;
    height: 485px;
    top: 15px;
}
#nama_depan, #nama_belakang{
    width: 170px;
    display: inline-block;
}
#nama_depan{
    margin-right: 19px;
}
#login_box select{
    max-width: 100px;
    display: inline-block;
}
#sign-up label{
    color: #5F5F5F;
}


